.page {
  background-color: #000;
  max-width: 882px;
  width: 100%;
  font-family: 'Inter', Arial, sans-serif;

  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 60px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
  "header"
  "content"
  "footer";
}

@media screen and (max-width: 900px) {
  .page {
    max-width: 582px;
  }
}

/* TODO confirm that media queries is correct */