@import url('./__logo/header__logo.css');
@import url('./__logo-link/header__logo-link.css');

.header {
  width: 100%;
  grid-area: header;
  border: 0;
  border-bottom: 1px solid #545454;

  margin: 0;
  padding: 0 0 41px 0;
}

@media screen and (max-width: 900px) {
  .header {
    padding-bottom: 32px;
  }
}