@import url(./__logo/header__logo.css);
@import url(./__logo-link/header__logo-link.css);

.header {
  width: 100%;
  height: 74px;
  grid-area: header;
  border: 0;
  border-bottom: 1px solid #545454;
}