.profile__edit-btn {
  display: inline-block;
  width: 24px;
  height: 24px;

  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;

  margin: 26px 0 0 0;
  padding: 0;

  transition: opacity 0.3s ease-out;
}

.profile__edit-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
  }
}