.modal__close-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 5em;
  font-weight: 400;
  transform: rotate(45deg);

  position: absolute;
  top: -70px;
  right: -55px;

  cursor: pointer;

  transition: opacity 0.3s ease-out;
}

.modal__close-btn:hover {
  opacity: 0.8;
}