.form__save-btn {
  width: 100%;
  margin: 48px 0 0 0;
  padding: 18px 0;

  background-color: #000;
  color: #fff;
  cursor: pointer;

  transition: opacity 0.3s ease-out;
}

.form__save-btn:hover {
  opacity: 0.8;
}